@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans+Condensed:300');

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

.site-header {
  background-color: #26547C;
}

.site-header a {
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  color: #fff;
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
}

p, label, input, button {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4em;
}