@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans+Condensed:300');

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

.site-header {
  background-color: #FCFCFC;
}

.site-header a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #26547C;
}

.site-header a:hover {
  background-color: #C43B5B;
  color: #FCFCFC;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
}

p, label, input, button {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4em;
}

.slider .slide {
  height: 350px;
  color: #FCFCFC;
}

.slider .slide1 {
  background: linear-gradient(155deg, #C43B5B 10%, #8F2B43 34%, #26547C 75%);
}